* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: sans-serif, Arial;
}

body {
  background-color: #f5f5f5;
  color: #333;
  width: 100%;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}
.btn {
  cursor: pointer;
  border: none;
  background: none;
}
input,
textarea {
  outline: none;
  border: 0.5px solid grey;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
  &::placeholder {
    font-size: 14px;
    opacity: 0.6;
  }
}

select {
  outline: none;
  border: 0.5px solid grey;
  background: transparent;
  padding: 5px;
  border-radius: 5px;
  option:disabled {
    color: grey;
  }
}
